#dev-data{
  display: block;
  position: absolute;
  left: 10px; top:10px;
  background: rgba(0,0,0,0.5);
  padding: 20px;
  font-weight: 200;
  font-size: 12px;
  line-height: 16px;
  @include border-radius(10px);
}