@import "compass/reset";
@import "compass/css3";

@import "dev";
@import "touch";

body{
  background: #222;
  font-family: "helvetica neue";
  color: #FFF;
}

#charachter{
  position: absolute;
  left: 50%; top: 50%;
  display: block;
  width: 20px; height: 20px;
  background: #FFF;
  margin: -10px 0 -10px 0;
  @include border-radius(10px);
}